*{
font-family: 'Josefin Sans', sans-serif;
}
.main{
    padding-top: 100px;
}
.btn:hover{
    transform: scale(1.1);
    transition: .3s;
}
.reg{
    text-decoration: none;
}
.reg:hover{
    transform: scale(1.3);
    transition: .3s;
}