

.container {
    width: 100%;
    max-width: 400px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the container */
    background-color: rgba(8, 143, 170, 0.471);
    padding: 20px;
    box-sizing: border-box;
}

/* Add responsive styling for smaller screens */
@media (max-width: 576px) {
    .container {
        padding: 15px;
    }
}

