<div class="container text-center w-75 mt-4 p-5" style="background:rgba(51, 53, 53, 0.5);border-radius: 25px; ">
    <h1 class="text-warning text-center p-2">Transaction History</h1>
    <table class=" container w-75 text-light text-center p-4"  >
        <thead class=" text-light text-center">
            <tr class="border border-white">
                <th class="border border-white">Type</th>
                <th class="border border-white">Amount</th>
            </tr>
        </thead>
        <tbody class=" text-light text-center">
            <tr *ngFor=" let i of transaction ">
                <td class="border border-white">{{i.type}}</td>
                <td class="border border-white">{{i.amount}}</td>
            </tr>
        </tbody>
    </table>
</div>